{% extends 'base.html' %}

{% block main %}
{% include 'flash_messages.html' %}
  <div class="container d-flex justify-content-center">
    <div class="card mb-4 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="card-img-top h-100" src="{{ url_for('get_image',filename=property.photo_filename) }}" alt="{{ property.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{ property.title }}</h1>
            <p class="card-text">{{ property.description }}</p>
            <div class="d-flex mb-2">
              <div class="d-inline-flex p-2 bg-secondary text-white rounded">{{ property.type }}</div>
              <div class="mx-2"></div>
              <div class="d-inline-flex p-2 bg-primary text-white rounded">{{ property.price }}</div>
            </div>
            <div class="d-flex align-items-center mb-2">
              <p class="m-0"> <span class="bed-icon">&#xf236;</span>{{property.num_bedrooms}} Bedrooms</p>
              <span class="mx-2">|</span>
              <p class="m-0">{{property.num_bathrooms}} Bathrooms</p>
            </div>
            <div>

              <p class="card-text"><span class="location-icon">&#x1F4CD;</span>{{ property.location }}</p>
              <a href="#" class="btn btn-primary">Email Realtor</a>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}